body{
    background-color: hsl(47, 88%, 63%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Figtree', sans-serif;
}

main{
    background-color: hsl(0, 0%, 100%);
    width: 340px;
    height: 440px; 
    padding: 18px;
    border-radius: 20px;
    box-shadow: 8px 8px 0px #000;
    margin-bottom: 20px;
}

img {
    border-radius: 8px;
    margin-bottom: 10px;
}

.detail .detail-name {
    font-size: 14px;
    font-weight: 700;
    background-color: hsl(47, 88%, 63%);
    display: inline;
    padding: 5px;
    border-radius: 5px;
}

.detail .details-info {
    font-size: 14px;
    font-weight: 500;
    color: hsl(0, 0%, 42%);
}

.detail .detail-head {
    font-size: 20px;
    font-weight: 800;
    margin-top: 5px;
    margin-bottom: 5px;
}

.detail .detail-head:hover {
    color: hsl(47, 88%, 63%);
}

.detail .detail-desc {
    font-size: 16px;
    color: hsl(0, 0%, 42%);
    margin-top: 10px;
}

.author {
    display: flex;
}

.author img {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-right: 8px;
}

.author .author-name {
    font-size: 16px;
    font-weight: 600;
}

